.field {
    border: 1px solid #222;
}

.bat {
    transition: transform 1s ease-in;
}

.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
}

.ball {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    left: 630px;
    transition: transform 1s ease-out 1s;

}

.field:hover .ball {
    transform: translate(720px, -300px);
}